@use '../abstract/variables' as *;

.main-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    margin-bottom: clamp(2rem, 5vh, 4rem);

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
}