@use '../abstract/variables' as *;

.landing-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $bg-color;
    text-align: center;
    z-index: 1;

    &__content {
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__bg-icon {
        position: absolute;
        bottom: -5%;
        left: -5%;
        width: 500px;
        opacity: 0.05;
        z-index: 0;
        pointer-events: none;
        transform: rotate(-30deg);
    }
}
