@font-face {
    font-family: 'Figtree';
    src: url('/fonts/figtree/static/Figtree-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.theme-da-project {
    --font-theme: 'Figtree', sans-serif;
    --bg-color: #FFFFFF;
    --text-color: #1E7594;

    .game-page, 
    .modal {
        font-family: var(--font-theme);
    }

    .game-page {
        background-color: var(--bg-color);
        color: var(--text-color);
    }

    .main-header {
        background-color: #F0F3F4;
        height: 96px;
        border-radius: 8px;
    }

    #score-container, .score-container {
        font-family: var(--font-theme);
        background-color: #FFFFFF;
        border-radius: 8px;

        .score-player {
            font-size: 0;
            gap: 0;
            
            .icon, .score-value {
                font-size: 1.2rem;
            }

            &:nth-child(1) {
                color: #1887C9;
                
                .score-value {
                    color: #1887C9 !important;
                }
            }

            &:nth-child(2) {
                color: #EA6900;
                
                .score-value {
                    color: #EA6900 !important;
                }
            }
        }

        .score-player:nth-child(1) {
            color: #097FC5;
            
            .score-value {
                color: #097FC5 !important;
            }
        }

        .score-player:nth-child(2) {
            color: #EA6900;
            
            .score-value {
                color: #EA6900 !important;
            }
        }
    }

    .current-player-display {
        color: var(--text-color);
    }

    #btn-exit {
        font-family: var(--font-theme);
        background-color: #BFE5F2;
        color: var(--text-color);
        border-radius: 8px;

        img {
            content: url('/assets/button-exit/exit-da-projects.svg');
        }
        
        &:hover {
            background-color: #1E7594;
            color: #FFFFFF;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);

            img {
                content: url('/assets/button-exit/exit.svg');
                filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
            }
        }
    }

    .modal {
        font-family: var(--font-theme);
        color: var(--text-color);
        border-radius: 16px;

        &__title {
            color: inherit;
            font-family: inherit;
        }
    }

    #btn-back-to-game, 
    #btn-confirm-exit {
        font-family: var(--font-theme);
    }

    #btn-back-to-game {
        background-color: #BFE5F2;
        color: #1E7594;
        border: none;
        border-radius: 12px;
        font-weight: 700;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
        
        &:hover {
            background-color: #1E7594;
            color: #FFFFFF;
        }
    }

    #btn-confirm-exit {
        background-color: #FD8A81;
        border: none;
        border-radius: 12px;
        color: #FFFFFF;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);

        &:hover {
            background-color: #ED5B50;
        }
    }
}
