@font-face {
    font-family: 'Orbitron';
    src: url('/fonts/orbitron/static/Orbitron-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.theme-gaming {
    --font-theme: 'Orbitron', sans-serif;
    --bg-color: #294F60;
    --text-color: #FFFFFF;

    .game-page, 
    .modal {
        font-family: var(--font-theme);
    }

    .main-header {
        background-color: #545D75;
        height: 96px;
        border-radius: 8px;
    }

    .game-page {
        background-color: var(--bg-color);
        color: var(--text-color);
    }

    #score-container, .score-container {
        background-color: #FFFFFF;
        border: none;
        border-radius: 12px;

        img[src*="blue"] {
            content: url('/assets/chess-piece-blue.svg');
        }
    
        img[src*="orange"] {
            content: url('/assets/chess-piece-orange.svg');
        }



        .score-player {
            font-size: 0;
            gap: 0;
            
            .icon, .score-value {
                font-size: 1.2rem;
            }

            &:nth-child(1) {
                color: #1887C9;
                
                .score-value {
                    color: #1887C9 !important;
                }
            }

            &:nth-child(2) {
                color: #EA6900;
                
                .score-value {
                    color: #EA6900 !important;
                }
            }
        }
    }

    #current-player-icon {
        background-color: transparent;
        border: none;
        outline: none;
        box-shadow: none;
        padding: 0;
    }

    #btn-exit { 
        background-color: #394B61;
        border: 2px solid #ED1B76;
        border-radius: 8px;
        color: var(--text-color);
        font-family: var(--font-theme);
        
        &:hover {
            background-color: #444862;
            text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);

            img {
                filter: invert(24%) sepia(90%) saturate(5425%) hue-rotate(337deg) brightness(89%) contrast(94%) drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.6));
            }
        }
    }

    .modal {
        font-family: var(--font-theme);
        border-radius: 16px;
    }

    #btn-back-to-game {
        font-family: var(--font-theme);
        background-color: #ED1B76;
        border: none;
        border-radius: 8px;
        color: white;
        
        &:hover {
            color: #ED1B76;
            background-color: #FFFFFF;
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), inset 0 0 0 2px #ED1B76;
        }
    }

    #btn-confirm-exit {
        font-family: var(--font-theme);
        color: #ED1B76;
        border-radius: 8px;
        border: 2px solid #ED1B76;
        background-color: #F0E5EE;

        &:hover {
            box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4), inset 0 0 0 1px #ED1B76;
            background-color: #EFD7E6;
        }
    }

    .game-board {
        gap: 0;
    }

    .memory-card {
        .card-inner {
            box-shadow: none;
            background: transparent;
        }

        .card-front, .card-back {
            background: transparent;
            box-shadow: none;
            
            img {
                object-fit: contain;
            }
        }
        
        &:hover:not(.flipped) .card-inner {
            box-shadow: none;
            transform: scale(1.1);
        }
    }
}