$bg-color: #212121;
$accent-color: #ECE664;
$text-color: #FFFFFF;
$text-secondary: #BDBDBD;

$font-primary: 'Inter', sans-serif;

$breakpoints: (
    zero: 0px,
    sm: 480px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
);
